.navbar-inverse .navbar-nav > .active > a,
 .navbar-inverse .navbar-nav >.active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus,
  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus,
   .carousel-indicators .active,
    .color-option ul li, .option-box .gear-check

  {background-color: blue;}
  .navbar-inverse .navbar-brand span, .about h1 span,
  .testimonials span,.footer .copyright span,.footer h3
  {color:blue;}
  .dropdown-menu
  {
border-top: 3px solid blue;
  }
      .color-option{
        border: 4px solid blue;
}
